<div class="agregarInmueble">
  <!-- id: number;
  titulo: string;
  descripcion: string;
  tipoInmueble: string;
  opcion: string;
  habitaciones: number;
  baños: number;
  parqueos: number;
  dimenciones: number;
  departamento: string;
  municipio: string;
  zona: string;
  colonia: string;
  imagenes: Imagenes[]; -->
  <div class="container">
    <div class="row">
        
      <div class="col-md-8 col-md-offset-2 contenido col-sm-12">
        <div class="row">
          <form [formGroup]="CreateForm" (ngSubmit)="onSubmit(CreateForm)">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="titulo">Titulo</label>
                <input formControlName="titulo" type="text" class="form-control" id="titulo" placeholder="Titulo">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <textarea formControlName="descripcion" class="form-control" rows="3" id="descripcion"></textarea>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="tipoInmueble">Tipo de Inmueble</label>
                <select formControlName="tipoinmueble" class="form-control">
                  <option *ngFor="let tipo of TipoInmuebles">{{tipo}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="opcion">Opción</label>
                <select formControlName="opcion" class="form-control">
                  <option *ngFor="let opcion of Opciones">{{opcion}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="habitaciones">No. Habitaciones</label>
                <input formControlName="nohabitaciones" type="number" class="form-control" id="habitaciones" placeholder="Habitaciones">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="baños">No. Baños</label>
                <input formControlName="nobaños" type="number" class="form-control" id="baños" placeholder="Baños">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="parqueos">No. Parqueos</label>
                <input formControlName="parqueos" type="number" class="form-control" id="parqueos" placeholder="Parqueos">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="dimenciones">Dimenciones</label>
                <input formControlName="dimenciones" type="number" class="form-control" id="dimenciones" placeholder="Dimenciones">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="departamento">Departamento</label>
                <input formControlName="departamento" type="text" class="form-control" id="departamento" placeholder="Departamento">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="municipio">Municipio</label>
                <input formControlName="municipio" type="text" class="form-control" id="municipio" placeholder="Municipio">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="zona">Zona</label>
                <input formControlName="zona"  type="text" class="form-control" id="zona" placeholder="Zona">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="colonia">Colonia</label>
                <input formControlName="colonia"  type="text" class="form-control" id="colonia" placeholder="Colonia">
              </div>
            </div>
            <!--carga de archivos-->
            <div class="col-sm-12 input">
                <image-upload [extensions]="['jpeg','png']" buttonCaption="Seleccionar imagen"
                 dropBoxMessage="Arrastre Aquí" ></image-upload>
            </div>
            <div class="col-sm-12">
              <button type="submit" class="btn btn-info">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
