<div class="container">
    <div class="row">
        <h2>Listado Inmuebles</h2>
        <div class="col-sm-10">
            <table class="table table-hover">
                <tr>
                    <th>Tipo Inmueble</th>
                    <th>Opcion</th>
                    <th>Titulo</th>
                    <th>Departamento</th>
                    <th>Zona</th>
                </tr>
                <tr>
                    <td>Tipo Inmueble</td>
                    <td>Opcion</td>
                    <td>Titulo</td>
                    <td>Departamento</td>
                    <td>Zona</td>
                </tr>
            </table>
        </div>
    </div>
</div>